@import url("fontawesome-all.min.css");

.header {
    background-color: #2f4f4f;
    height: 75px;
}
.logoA {
    text-decoration-line: none;
}
.logo{
    color: white;
    line-height: 30px;
    float: left;
    margin-left: 3%;
}
.nav{
    float: right;
}
.navli {
    list-style: none;
    padding-left: 0px;
}
.profile {
    float: right;
    border: 3px solid white;
    width:  20%;
    height: 20%;
    border-radius: 70%;
    margin-right: 9%;
}